html,
body {
  min-height: max(100%, 100vh);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  color: #fff;
  background: linear-gradient(135deg, #000, #57cdac);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 0px;
  text-align: center;
}

a:focus,
a:active {
  color: #fff;
  outline: none;
}


/* The side navigation menu */
.sidebar {
  margin: 10px;
  padding: 0;
  width: 200px;
  background-color: rgb(10,10,10,0.4);
  height: calc(100vh - 70px);
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  overflow-x: hidden; /* Disable horizontal scroll */
  border-radius: 10px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ddd;
  padding: 16px;
  text-decoration: none;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(10,10,10,0.8);
  border-radius: 10px;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.dropdown-button {
  background-color: rgb(10,10,10,0.4);
  margin: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  width: 500px;
  text-align: left;
}

.dropdown-button:hover {
  background-color: rgb(10,10,10,0.6);
}

.dropdown-content {
  display: none;
}

/* CSS for showing dropdown content when dropdown is clicked */
.dropdown-content.show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(10,10,10,0.6);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  width: 500px;
  text-align: left;
}

.dropdown-content li {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar p {
  display: block;
  color: #888;
  padding: 10px;
  text-decoration: none;
}

.section {
  padding: 10px !important;
  scale: 10px !important;
  color: #888 !important;
}
